footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2.5rem;
    color: white;
    text-align: center;
    overflow: hidden;
    font-weight: bolder;
    z-index: 2;
}

p.footer {
    color: white;
}