div.hero {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

img.image {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

div.logoposition {
    top: 4%;
    left: 4%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
}

img.logo {
    height: 100%;
    width: 100%;
}