body {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

p {
    padding: 2px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
}

.wrapper {
    position: relative;
}

section {
    display: flex;
    margin: 5px;
    margin-left: 2%;
}

div {
    background: none;
}

div.logo {
    background: none;
}

img.logo {
    height: 90px;
}

section.header {
    padding-top: 120px;
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
}

div.aboutme {
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px; 
    border-radius: 10px;
}

div.aboutimg {
    width: 30vw;
    height: 20vh;
    right: 0;
    margin-left: 5px;
    top: 200px;
}

.imgselfie {
    width: auto;
    height: 500px;
    margin-left: 20%;
}

.about {
    padding-top: 5px;
    margin-top: 10%;
    margin-left: 5%;
}

div.afbeelding-design {
    width: 40vw;
    height: 50vh;
    padding-right: 50px;
}

div.afbeelding-design img{
    width: inherit;
    height: inherit;
}

div.tekst {
    background-color: rgb(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: rgb(255, 255, 255) !important;
}

div.iframe {
    height: 40vh;
}

iframe {
    width: 100%;
    height: 100%;
}

h1.kop {
    text-align: center;
}

.start {
    text-align: justify start;
    text-justify: inter-character;
}

.s100 {
    width: 100vw;
}

.h10 {
    height: 10vh;
}

.h20 {
    height: 20vh;
}

.s90 {
    width: 90vw;
}

.s80 {
    width: 80vw
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.h25 {
    height: 25%;
}

.pround {
    padding: 20px;
}

.right {
    align-content: flex-end;
}

.special {
    margin: 0;
    padding: 0;
    left: 0;
}

.mb {
    margin-bottom: 2%;
}

.ml {
    margin-left: auto;
}

.mr {
    margin-right: auto;
}

.mt5 {
    margin-top: 5%;
}

.ac {
    align-content: center;
    align-items: center;
}

.standardimg {
    width: fit-content;
    height: fit-content;
    max-width: 30vw;
    max-height: 30vh;
    min-width: 20vw;
    min-height: 20vh;
    align-content: center;
    image-rendering: optimizeSpeed;
    image-orientation: from-image;
    margin: 10px;
    display: flex;
}