body {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

p {
    padding: 2px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

div {
    background: tomato;
}

div.logo {
    background: none;
}

img.logo {
    height: 90px;
}

section.header {
    padding-top: 120px;
}