body{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

h1.title {
font-size: 50px;
font-weight: 700;
margin: 0;
text-transform: uppercase;
letter-spacing: 3px;
color: whitesmoke;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

h2.title {
	font-size: 50px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: whitesmoke;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}


h1 {
	font-size: 40px;
	font-weight: 550;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(255, 255, 255);
	text-align: start;
	font-family: 'Montserrat', sans-serif;
}

.main-text{
	padding: 100px 0;
	align-items: flex-end;
	right: 0;
	color: rgb(255,255,255);
}

.main-text p{
	width: 50%;
	right: 0;
	margin: 0 25px 10px 45%;
}


@media only screen and (max-width: 767px) and (min-width: 767px){
	header h1{
		font-size: 30px;
	}
	header p{
		display: none;
	}
	header a{
		padding: 5px 15px;
	}
	.main-text p{
		width: 60%;
		left: 5%;
		margin: 0 auto 25px;
	}
	section.header {
		padding-top: 120px;
		left: 5%;
		position: relative;
	}
} 

.color-gray {
	background-color: rgb(0, 0, 0)
}

p {
	color: rgb(255, 255, 255);
	margin-top: 5px;
}

body::-webkit-scrollbar {
	width: 0.8em;
	background-color: rgb(0, 0, 0);
}
   
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(255, 115, 0), 0 0 2px rgb(252, 217, 189) !important;
}
   
body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 115, 0) !important;
	outline: 1px solid rgba(255, 115, 0) !important;
}

html {
	scroll-behavior: smooth;
}

  .custom-btn {
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
	outline: none;
  }

  .custom-btn a{
	  text-decoration: none;
	  color: rgb(255, 255, 255);
	  align-content: center;
	  text-align: center !important;
  }

  .custom-btn a span{
		margin-left: auto;
		margin-right: auto;
		align-content: center;
		text-align: center;
}



/* 7 */
.btn-7 {
	background: rgb(0, 0, 0, 0.6); ;
	  line-height: 42px;
	  padding: 5px;
		border: none;
		align-content: center;
		text-align: center;
	}
	.btn-7 span {
	  	position: relative;
	  	display: block;
		width: 100%;
		height: 100%;
		align-content: center;
		text-align: center;
	}
	
	.back-to-top{
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background:  rgb(0, 0, 0, 0.2); 
		height: 50px;
		width: 50px;
		display: inline-block;
		text-align: center;
		line-height: 60px;
		font-size: 30px;
		font-family: Times New Roman;
		position: fixed;
		bottom: 50px;
		right: 10px;
	}
	