body{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

h1.title {
font-size: 50px;
font-weight: 700;
margin: 0;
text-transform: uppercase;
letter-spacing: 3px;
color: whitesmoke;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

h2.title {
	font-size: 50px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: whitesmoke;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}


h1 {
	font-size: 40px;
	font-weight: 550;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(255, 255, 255);
	text-align: start;
	font-family: 'Montserrat', sans-serif;
}

.main-text{
	padding: 100px 0;
	align-items: flex-end;
	right: 0;
	color: rgb(255,255,255);
}

.main-text p{
	width: 50%;
	right: 0;
	margin: 0 25px 10px 45%;
}


@media only screen and (max-width: 767px) and (min-width: 767px){
	header h1{
		font-size: 30px;
	}
	header p{
		display: none;
	}
	header a{
		padding: 5px 15px;
	}
	.main-text p{
		width: 60%;
		left: 5%;
		margin: 0 auto 25px;
	}
	section.header {
		padding-top: 120px;
		left: 5%;
		position: relative;
	}
} 

.color-gray {
	background-color: rgb(0, 0, 0)
}

p {
	color: rgb(255, 255, 255);
	margin-top: 5px;
}

body::-webkit-scrollbar {
	width: 0.8em;
	background-color: rgb(0, 0, 0);
}
   
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(255, 115, 0), 0 0 2px rgb(252, 217, 189) !important;
}
   
body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 115, 0) !important;
	outline: 1px solid rgba(255, 115, 0) !important;
}

html {
	scroll-behavior: smooth;
}

button {
	margin: 10px;
  }

  .custom-btn {
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
  }

  .custom-btn a{
	  text-decoration: none;
	  color: black;
  }

  .custom-btn a span{
	padding-left: 2px;
	padding-right: 2px;
}


.custom-btn a:hover{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/* 7 */
.btn-7 {
	background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
	  line-height: 42px;
	  padding: 0;
	  border: none;
	}
	.btn-7 span {
	  position: relative;
	  display: block;
	  width: 100%;
		height: 100%;
		padding: 2px;
	}
	.btn-7:before,
	.btn-7:after {
	  position: absolute;
	  content: "";
	  right: 0;
	  bottom: 0;
	  background: rgba(251,75,2,1);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
	  transition: all 0.3s ease;
	}
	.btn-7:before{
	   height: 0%;
	   width: 2px;
	}
	.btn-7:after {
	  width: 0%;
	  height: 2px;
	}
	.btn-7:hover{
	  color: rgb(255, 255, 255);
	  background: transparent;
	}
	.btn-7:hover:before {
	  height: 100%;
	}
	.btn-7:hover:after {
	  width: 100%;
	}
	.btn-7 span:before,
	.btn-7 span:after {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 0;
	  background: rgba(251,75,2,1);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
		transition: all 0.3s ease;
		color: rgb(255, 255, 255) !important;
	}
	.btn-7 span:before {
	  width: 2px;
	  height: 0%;
	}
	.btn-7 span:after {
	  height: 2px;
	  width: 0%;
	}
	.btn-7 span:hover:before {
	  height: 100%;
	}
	.btn-7 span:hover:after {
	  width: 100%;
	}
	
	.back-to-top{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #ce7e07;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-family: Times New Roman;
    position: fixed;
    bottom: 50px;
		right: 10px;
  }